/*
  Start adding CSS here
*/
body{
  font-family: "Georgia";
  background-color: #ccffcc;
}

div {
  margin: auto;
  width: 75%;
  overflow-x: auto;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

thead{
  background-color: black;
  color: white;
}

th, td {
    border: 1px, grey;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}
tr:nth-child(odd){background-color: white}
tr:hover{
    background-color: black;
    color: white;
}

.no-data{
    color: red;
}
